@{
    ViewBag.Title = "About Us";
}
<div class="content">
    <div class="grid_12 prefix_2 suffix_2">
        @Html.Raw(File.ReadAllText(Server.MapPath("~/readme.html")))
    </div>
    <div class="clear">
    </div>
</div>
